<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= title%></title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/harsh">Harsh</a> </li>
            <li><a href="/jitendra">Jitendra</a> </li>
            <li><a href="/jagruti">Jagruti</a> </li>
            <li><a href="/kavya">Kavya</a> </li>
        </ul>
    </nav>