<% include partials/header.ejs %>

<h1><%= title %></h1>
<p>Harsh is a Awesome future Programmer, he is studying Computer Programming at Georgian College.
    He likes Horse riding and playing games.</p>
<% include partials/footer.ejs %>