<% include partials/header.ejs %>
<h1><%= title %></h1>
<p>She is my Mom. She is IBO(Independenet Business Owner).She is very creative. She is expert in making soft toys and crafts.</p>
<% include partials/footer.ejs %>